# Backend
backend/.bundle
backend/.env*
backend/log/*
backend/tmp/
!backend/tmp/.keep
backend/tmp/pids/
!backend/tmp/pids/.keep
backend/tmp/storage/
!backend/tmp/storage/.keep
backend/storage/
!backend/storage/.keep
backend/public/assets
backend/config/master.key

# Frontend
frontend/node_modules
frontend/.cache
frontend/build
frontend/.env
